:root{
    --color: #FFD700;
    --theme: #3f3f3f;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--theme);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    padding: 1em 2em 1em 2em;
    display: flex;
    justify-content: space-between;
}
.nav2{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.nav1{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: aliceblue;
    margin: 0 2em;
}

.part1{
    display: flex;
    justify-content: space-between;
    min-height: 30vw;
    box-shadow: 0px 20px 20px black;
}

.text{
    margin-left:5%;
    width:40vw;
    padding: 2em;
}

.contact-btn{
    padding: 1em 2em;
    background-color: transparent;
    border:solid 4px var(--color);
    border-radius: .6em;
    color: var(--color);
}

.part1 img{     
    padding-right: 10vw;
    object-fit: cover;
    width: 25vw;
}
.part1 text{
    width: 25vw;
}

.part2{
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/* .part2 h1{
    align-self: flex-start;
    padding: 0 2em;
} */
.part2 p{
    max-width: 80% ;
}


.part3{
    padding:3em;
    color: white;
}


.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap:3em;
    justify-content: center;
    align-items: center;
}

.skill{
    background-color: #575757;
    max-width: 15em;
    aspect-ratio: 1/1;
    border-radius: 1em;
    box-shadow: 5px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill:hover{
    background-color: var(--color);
}
.skill img{
    max-width: 5em;
    max-height: 5em;
}

.skill img:hover{
    transform: scale(1.4);
    transition: 300ms;
}

.skillimg{
    height: auto;
    width: 70%;
}


.Achievements{
    padding: 35px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));;
    gap: 3em;
}

.col{
    padding: 0 3em;
    border-left: 2px solid #FFD700 ;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: aliceblue;
}

/* .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
} */


.part4{
    color: white;
}
.part42{
    color: white;
}



.part5{
    border-top: 1px solid var(--color);
    padding: 4em ;
    color: white;
}

.contact-contaner{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.contact{
    height: 3rem;
    width: 15rem;
    background-color: #575757; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
    margin: 1em 1em;
}

.contact:hover{
    background-color: var(--color);
    color: black;
}


.part6{
    border-top: 1px solid var(--color);
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
}

